USE [Medicode]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [char](1) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Specialization] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[ApptDate] [date] NOT NULL,
	[ApptTime] [time](7) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UpcomingAppointments]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 11) Doktorların güncel randevularını listeleyen VIEW
CREATE VIEW [dbo].[UpcomingAppointments] AS
SELECT
    a.AppointmentID,
    CONCAT(p.FirstName, ' ', p.LastName) AS PatientName,
    CONCAT(d.FirstName,  ' ', d.LastName)  AS DoctorName,
    a.ApptDate,
    a.ApptTime,
    a.Status
FROM Appointment AS a
JOIN Patient     AS p ON a.PatientID = p.PatientID
JOIN Doctor      AS d ON a.DoctorID  = d.DoctorID
WHERE a.ApptDate >= CAST(GETDATE() AS DATE);
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[TreatmentID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[DateIssued] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DoctorContact]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoctorContact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Treatment]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Treatment](
	[PatientID] [int] NOT NULL,
	[TreatmentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC,
	[TreatmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientContact]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientContact](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[DateIssued] [date] NOT NULL,
	[Medication] [nvarchar](100) NOT NULL,
	[Dosage] [nvarchar](50) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[AppointmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatment]    Script Date: 25.05.2025 16:14:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment](
	[TreatmentID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[TreatmentType] [nvarchar](100) NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
	[TreatmentDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TreatmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [FirstName], [LastName], [Password]) VALUES (1, N'System', N'Administrator', N'admin123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [DoctorID], [ApptDate], [ApptTime], [Status]) VALUES (2, 2, 1, CAST(N'2024-05-24' AS Date), CAST(N'10:00:00' AS Time), N'Active')
INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [DoctorID], [ApptDate], [ApptTime], [Status]) VALUES (11, 4, 1, CAST(N'2025-05-24' AS Date), CAST(N'20:30:00' AS Time), N'Active')
INSERT [dbo].[Appointment] ([AppointmentID], [PatientID], [DoctorID], [ApptDate], [ApptTime], [Status]) VALUES (12, 4, 5, CAST(N'2025-05-24' AS Date), CAST(N'10:30:00' AS Time), N'Active')
SET IDENTITY_INSERT [dbo].[Appointment] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([BillID], [TreatmentID], [Amount], [DateIssued]) VALUES (12, 13, CAST(2000.00 AS Decimal(10, 2)), CAST(N'2025-05-24' AS Date))
INSERT [dbo].[Bill] ([BillID], [TreatmentID], [Amount], [DateIssued]) VALUES (1013, 1015, CAST(200.00 AS Decimal(10, 2)), CAST(N'2025-05-25' AS Date))
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctor] ON 

INSERT [dbo].[Doctor] ([DoctorID], [FirstName], [LastName], [Specialization]) VALUES (1, N'John', N'Smith', N'Cardiology')
INSERT [dbo].[Doctor] ([DoctorID], [FirstName], [LastName], [Specialization]) VALUES (5, N'Ahmet', N'Cano', N'Cildiye')
SET IDENTITY_INSERT [dbo].[Doctor] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([PatientID], [FirstName], [LastName], [DateOfBirth], [Gender], [PasswordHash]) VALUES (2, N'Alice', N'Brown', CAST(N'1999-01-01' AS Date), N'F', N'1234')
INSERT [dbo].[Patient] ([PatientID], [FirstName], [LastName], [DateOfBirth], [Gender], [PasswordHash]) VALUES (4, N'Anıl', N'Doğan', CAST(N'2004-03-01' AS Date), N'M', N'patient123')
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([PrescriptionID], [DoctorID], [PatientID], [DateIssued], [Medication], [Dosage], [Notes], [AppointmentID]) VALUES (1, 1, 2, CAST(N'2025-05-24' AS Date), N'medication test', N'1 dosage', N'test', NULL)
INSERT [dbo].[Prescription] ([PrescriptionID], [DoctorID], [PatientID], [DateIssued], [Medication], [Dosage], [Notes], [AppointmentID]) VALUES (2, 1, 2, CAST(N'2025-05-24' AS Date), N'test', N'test', N'test', NULL)
INSERT [dbo].[Prescription] ([PrescriptionID], [DoctorID], [PatientID], [DateIssued], [Medication], [Dosage], [Notes], [AppointmentID]) VALUES (4, 1, 2, CAST(N'2025-05-25' AS Date), N'TestMedication', N'TestDosage', N'TestNotes', 2)
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Treatment] ON 

INSERT [dbo].[Treatment] ([TreatmentID], [AppointmentID], [TreatmentType], [Cost], [TreatmentDate]) VALUES (13, 2, N'treatmenttest', CAST(200.00 AS Decimal(10, 2)), CAST(N'2025-05-24' AS Date))
INSERT [dbo].[Treatment] ([TreatmentID], [AppointmentID], [TreatmentType], [Cost], [TreatmentDate]) VALUES (1015, 11, N'asd', CAST(200.00 AS Decimal(10, 2)), CAST(N'2025-05-25' AS Date))
SET IDENTITY_INSERT [dbo].[Treatment] OFF
GO
/****** Object:  Index [UQ_Bill_Treatment]    Script Date: 25.05.2025 16:14:36 ******/
ALTER TABLE [dbo].[Bill] ADD  CONSTRAINT [UQ_Bill_Treatment] UNIQUE NONCLUSTERED 
(
	[TreatmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Treatment_Appointment]    Script Date: 25.05.2025 16:14:36 ******/
ALTER TABLE [dbo].[Treatment] ADD  CONSTRAINT [UQ_Treatment_Appointment] UNIQUE NONCLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Doctor]
GO
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_Patient]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Treatment] FOREIGN KEY([TreatmentID])
REFERENCES [dbo].[Treatment] ([TreatmentID])
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_Bill_Treatment]
GO
ALTER TABLE [dbo].[DoctorContact]  WITH CHECK ADD  CONSTRAINT [FK_DoctorContact_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[DoctorContact] CHECK CONSTRAINT [FK_DoctorContact_Doctor]
GO
ALTER TABLE [dbo].[Patient_Treatment]  WITH CHECK ADD  CONSTRAINT [FK_PT_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Patient_Treatment] CHECK CONSTRAINT [FK_PT_Patient]
GO
ALTER TABLE [dbo].[Patient_Treatment]  WITH CHECK ADD  CONSTRAINT [FK_PT_Treatment] FOREIGN KEY([TreatmentID])
REFERENCES [dbo].[Treatment] ([TreatmentID])
GO
ALTER TABLE [dbo].[Patient_Treatment] CHECK CONSTRAINT [FK_PT_Treatment]
GO
ALTER TABLE [dbo].[PatientContact]  WITH CHECK ADD  CONSTRAINT [FK_PatientContact_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[PatientContact] CHECK CONSTRAINT [FK_PatientContact_Patient]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Appointment] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointment] ([AppointmentID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Appointment]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor] ([DoctorID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Doctor]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Patient]
GO
ALTER TABLE [dbo].[Treatment]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_Appointment] FOREIGN KEY([AppointmentID])
REFERENCES [dbo].[Appointment] ([AppointmentID])
GO
ALTER TABLE [dbo].[Treatment] CHECK CONSTRAINT [FK_Treatment_Appointment]
GO
ALTER TABLE [dbo].[DoctorContact]  WITH CHECK ADD  CONSTRAINT [CK_DoctorContact_AtLeastOne] CHECK  (([Phone] IS NOT NULL OR [Email] IS NOT NULL))
GO
ALTER TABLE [dbo].[DoctorContact] CHECK CONSTRAINT [CK_DoctorContact_AtLeastOne]
GO
ALTER TABLE [dbo].[PatientContact]  WITH CHECK ADD  CONSTRAINT [CK_PatientContact_AtLeastOne] CHECK  (([Phone] IS NOT NULL OR [Email] IS NOT NULL))
GO
ALTER TABLE [dbo].[PatientContact] CHECK CONSTRAINT [CK_PatientContact_AtLeastOne]
GO
